name: Tests
on:
  push:
jobs:
  test:
    runs-on: ubuntu-20.04
    container: golang:1.16.5
    env:
      ETCD_ADDR: etcd:2379
    steps:
      - uses: actions/checkout@v2
      - run: go test -v -race ./...
    services:
      etcd:
        image: bitnami/etcd:3.4.16
        env:
          ALLOW_NONE_AUTHENTICATION: yes
          ETCD_ADVERTISE_CLIENT_URLS: http://etcd:2379